<div class="surface-0 min-h-screen flex flex-column">
  <div class="bg-cover bg-center h-15rem w-full contact-page-background-image">
    <div
      class="flex align-items-center justify-content-center min-h-full relative z-1 pt-8"
    >
      <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-6">
          <span class="text-xs text-color-secondary letter-spacing-lg"
            >GET IN TOUCH</span
          >
          <h2 class="text-4xl">Contact Us</h2>
        </div>
        <div class="grid">
          <div class="col-12 md:col-6">
            <div class="mb-3">
              <label for="firstname" class="letter-spacing-sm block mb-2"
                >First Name</label
              >
              <input
                id="firstname"
                type="text"
                pInputText
                class="w-full"
                placeholder="James"
              />
            </div>
          </div>
          <div class="col-12 md:col-6">
            <div class="mb-3">
              <label for="lastname" class="letter-spacing-sm block mb-2"
                >Last Name</label
              >
              <input
                id="lastname"
                type="text"
                pInputText
                class="w-full"
                placeholder="Appleseed"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="email" class="letter-spacing-sm block mb-2"
                >Email</label
              >
              <input
                id="email"
                type="email"
                pInputText
                class="w-full"
                placeholder="james.appleseed@acompany.com"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="mb-3">
              <label for="message" class="letter-spacing-sm block mb-2"
                >Message</label
              >
              <textarea
                id="message"
                rows="5"
                cols="30"
                pTextarea
                class="w-full"
                placeholder="Leave us a message..."
                [autoResize]="true"
              ></textarea>
            </div>
          </div>
          <div class="col-12">
            <div class="field-checkbox">
              <p-checkbox
                name="agree"
                value="Agree"
                [binary]="true"
                inputId="agree"
              ></p-checkbox>
              <label for="agree" class="ml-2 text-sm"
                >I agree to
                <a href="" class="text-primary">Terms of Service</a> and
                <a href="" class="text-primary">Privacy Policy</a></label
              >
            </div>
          </div>
          <div class="col-12">
            <p-button label="Send message" class="display-grid"></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
